* {
  padding: 0;
  margin: 0;

  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: #FFFFFF;

  list-style: none;
}

header {
  display: flex;
  justify-content: center;

  width: 100%;

  border-bottom: 1px solid #333333;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #090909;
}

footer {
  display: flex;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 280px;

  background-color: #16171C;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 24px;

  width: 1540px;
  height: 79px;
}

.logo-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 69px;
}

.vaio-logo {
  width: 119px;
  height: 28px;
}

.links-list {
  display: flex;
  gap: 47px;

  font-size: 14px;
  line-height: 16.41px;
  font-weight: normal;
}

.cart-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.black-friday-container {
  display: flex;
  justify-content: center;
  gap: 124px;
  max-width: 1280px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.form-title {
  width: 444px;

  font-weight: bold;
  font-size: 32px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-text {
  width: 100%;
  max-width: 502px;
  height: 48px;

  padding-left: 18px;

  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #FFFFFF;

  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;

  background-color: #171717;
}

.input-text:focus {
  outline: none;
  border-bottom: 1px solid #00BEFF;
}

.terms-container {
  display: flex;
  align-items: start;
  gap: 12px;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  z-index: 1;

  height: 16px;
  width: 16px;

  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid #767676;
}

.checkmark:after {
  content: "";

  display: none;
  position: absolute;
  left: 4px;

  width: 5px;
  height: 10px;

  border: solid #767676;
  border-width: 0 3px 3px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.terms-label {
  max-width: 500px;
  margin-left: 16px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #767676;
}

.btn-register {
  width: 275px;
  height: 52px;

  background-color: #3952EC;
  border: none;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.btn-register:hover {
  cursor: pointer;
}

.offers-container {
  display: flex;
  align-items: center;
  width: 1260px;
}

.offers-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 469px;
} 

.offers-info h2 {
  margin-top: 24px;

  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
}

.offers-info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.offers-container .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 1260px;
}

.payments-title {
  margin-top: 90px;
  margin-bottom: 16px;

  font-size: 32px;
  font-weight: 500;
  line-height: 43.2px;
}

.payments-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;

  margin-bottom: 42px;
}

.payment-options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.rows-2 {
  grid-row: span 2;
  max-width: 309px;
}

.rows-2 .image-container {
  margin-top: 140px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 357px;

  padding: 32px;

  border: 1px solid #212121;
  background-color: #171717;
}

.payment-option .image-container {
  display: flex;
  align-items: center;
  height: 42px;
}

.payment-option h3 {
  margin-top: 28px;
  margin-bottom: 8px;
  font-size: 21px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.observation {
  max-width: 320px;

  font-size: 12px;
  line-height: 16.8px;
  color: #767676;
}

.notebook-container {
  display: flex;
  justify-content: start;
  gap: 69px;

  margin-top: 92px;
  margin-bottom: 124px;

  width: 100%;
  max-width: 1260px;
}

.notebook-container .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.notebook-container h2 {
  margin-bottom: 16px;
  width: 520px;


  font-size: 21px;
  font-weight: 700;
  line-height: 43.2px;
}

.notebook-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1280px;
  margin-top: 44px;
}

.footer-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer-item h4 {
  margin-bottom: 8px;
}

.footer-item p {
  color: #767676;
}

.item-image-container {
  display: flex;
  align-items: center;

  height: 46px;
  margin-bottom: 24px;
}

.message-required {
  display: none;
  margin-left: 16px;
  color: #FFFFFF;
  
}

@media (max-width: 1280px) {
  .input-text {
    max-width: 260px;
  }

  .form-title {
    max-width: 260px;
  }

  .terms-label {
    max-width: 260px;
  }

  .offers-container {
    max-width: 1024px;
  }

  .payment-option {
    width: 260px;
  }

  .notebook-container {
    justify-content: start;
    align-items: center;
    gap: 0;

    max-width: 1024px;
  }

  .notebook-container h2 {
    width: 400px;
  }

  .notebook-text-container {
    width: 400px;
  }

  .notebook-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .notebook-container .image-container img {
    padding: 0;
    width: 520px;
    margin-left: 0;
  }

  .notebook-container img {
    width: 85%;
    height: 85%;
  }
}

@media (max-width: 1024px) {
  .black-friday-container {
    gap: 0;
  }

  .black-friday-container img {
    display: none;
  }

  .form-container {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .input-text {
    max-width: 440px;
  }

  .form-title {
    max-width: 440px;
    font-size: 28px;
  }

  .terms-label {
    max-width: 440px;
  }

  .offers-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    
    width: 420px;
    margin-bottom: 64px;
  }

  .offers-container img {
    width: 315px;
  }

  .payment-options-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .payments-container h2 {
    font-size: 28px;
    text-align: center;
  }

  .payment-option {
    width: 380px;
  }

  .rows-2 {
    grid-row: span 1;
    max-width: none;
  }
  
  .rows-2 .image-container {
    margin-top: 0;
  }

  .notebook-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
    width: 420px;
  }

  .notebook-container h2 {
    width: 100%;
    font-size: 28px;
  }

  .notebook-text-container {
    width: 100%;
  }

  .notebook-container .image-container img {
    width: 315px;
  }

  .footer-container {
    width: 75%;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .logo-nav-container{
    gap: 0;
  }

  .links-list {
    gap: 24px;
  }

  .logo-nav-container img {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    height: 120px;
  }

  .form-title {
    max-width: 280px;
  }

  .terms-label {
    max-width: 280px;
  }

  .input-text {
    max-width: 280px;
  }

  .btn-register {
    width: 296px;
  }

  .payments-container{
    justify-content: center;
    align-items: center;
  }

  .payments-description {
    width: 220px;
    text-align: start;
  }

  .payment-option {
    width: 220px;
  }

  .payment-option p {
    text-align: start;
  }

  .offers-container {
    width: 85%;
  }

  .offers-container img {
    width: 200px;
  }

  .offers-info {
    width: 100%;
    height: auto;
  }

  .notebook-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 32px;

    width: 85%;
    min-width: 240px;
  }

  .notebook-container h2 {
    font-size: 28px;
    text-align: start;
  }

  .notebook-text-container {
    width: 100%;
    text-align: start;
  }

  .notebook-container .image-container img {
    width: 200px;
  }

  .footer-item {
    font-size: 12px;
    line-height: 12px;
  }

  .item-image-container img {
    width: 60px;
  }
}